/*About Styles*/

.about-header h2 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: rgb(28, 17, 10);
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.about-header, .about-header-m {
background-image: linear-gradient(to right, rgba(0,0,0,0.5),
rgba(0,0,0,0.5)), url("../images/desk4.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-position: 70% 65%;
}

.about-title h2 {
padding: 1.5rem;
border-top-style:double;
border-bottom-style:double;
padding-top:5px;
padding-bottom:5px;
border-top-color: rgb(247, 150, 70);
border-bottom-color: rgb(247, 150, 70);
border-top-width:4px;
border-bottom-width:4px;
}

.about-main-article {
  padding: 0 0.75rem;
}

.about-main-article p {
padding-top: 1rem;
font-size: 1.1rem;
font-weight: 300;
text-align: justify;
letter-spacing: 0.05rem;
}
