/*Footer styles*/


footer {
  /*position: relative;
  top: 5rem;*/
  height: 5rem;
  width: 100%;
  border-top: 2px inset rgba(95, 72, 66, 0.3);
  /*background-color: rgba(95, 72, 66, 0.1);*/
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.copyright p {
  padding-top: 3.5rem;
}

.fa-linkedin  {
  color: black;
  padding-top: 0.5rem;
}
