/*Projects Styles*/

.projects-header h2 {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: rgb(28, 17, 10);
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.projects-header {
  background-image: linear-gradient(to right, rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)), url("../images/project-3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects-title h2 {
padding: 1.5rem;
border-top-style:double;
border-bottom-style:double;
padding-top:5px;
padding-bottom:5px;
border-top-color: rgb(247, 150, 70);
border-bottom-color: rgb(247, 150, 70);
border-top-width:4px;
border-bottom-width:4px;
}

.projects-main-article {
  display: flex;
  flex-direction: column;
}

.projects-main-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.projects-main-title p {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: justify;
}
.projects-secondary-article {
display: flex;
flex-direction: column;
margin-bottom: 2rem;
}


.projects-shell {
  display: flex;
  margin: 0.5rem;
  border: 1px solid rgba(95, 72, 66, 0.3);
  width: 100%;


}
.projects-img {
  background-color: grey;
  width: 25%;
  height: auto;
  margin: 0.5rem;
  border: 1px solid black;
}

.projects-img img {
  max-width: 10rem;
  max-height: 10rem;
  border: 1px solid black;
}

.projects-description {
  padding: 1.5rem;
  width: 100%;
}

.projets-description p {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: justify;
}
.projects-description h2 {
  font-weight: 700;
  font-size: 1.2rem;
  /*margin-bottom: 0.5rem;*/
}

.projects-description h4 {
  margin-bottom: 0.5rem;
}

.projects-description h3 {
  margin-top: 0.5rem;
}
.projects-description a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  color: rgb(89, 201, 165);
}



.projects-description a:hover {
  text-decoration: underline;
  color: rgb(28, 17, 10);
}
