/*Projects Styles*/

.projects-header h2 {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: rgb(28, 17, 10);
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.projects-header {
  background-image: linear-gradient(to right, rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)), url("../images/project-3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects-title h2 {
border-top-style:double;
border-bottom-style:double;
padding-top:5px;
padding-bottom:5px;
border-top-color: rgb(247, 150, 70);
border-bottom-color: rgb(247, 150, 70);
border-top-width:4px;
border-bottom-width:4px;
}

.projects-main-article {
  display: flex;
  flex-direction: column;
}

.projects-main-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.projects-main-title p {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: justify;
}
.projects-secondary-article {
display: flex;
flex-direction: column;
}

.projects-shell {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border: 1px solid rgba(95, 72, 66, 0.3);
  max-width: 100%;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.projects-description {
  padding: 0.5rem;
  width: 70%;
}

.core-services {
  padding: 0.5rem;
  width: 30%;
}
.projets-description p {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
}
.projects-description h2 {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.core-services h2 {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
}

ul.a {
  list-style: none;
  }

ul.a li::before {
  content: "\2022";
  color: rgb(247, 150, 70);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  }

  ul.a li {
    padding-bottom: 0.2rem;
    margin-left: 1.5rem;
  }

.projects-description h4 {
  margin-bottom: 0.5rem;
}
