
/*Services Styles*/

.services-header h2 {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: rgb(28, 17, 10);
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.services-header {
/*background-image: linear-gradient(to right, rgba(255,255,255,0.4),
rgba(255,255,255,0.4)),
url("../images/services.png");*/
background-image: linear-gradient(to right, rgba(0,0,0,0.5),
rgba(0,0,0,0.5)), url("../images/services.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
justify-content: flex-end;
align-items: flex-end;
}

.services-title h2 {
padding: 1.5rem;
border-top-style:double;
border-bottom-style:double;
padding-top:5px;
padding-bottom:5px;
border-top-color: rgb(247, 150, 70);
border-bottom-color: rgb(247, 150, 70);
border-top-width:4px;
border-bottom-width:4px;
}
.core-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.services {
  display: inline-block;
  height: auto;
  width: 46%;
  border-left: 1px solid rgba(95, 72, 66, 0.3);
  margin: 1rem 0;
}

.services h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

ul.a {
  list-style-type: disc;
}

ul.a li {
  padding-bottom: 1rem;
  margin-left: 2rem;
}
