/*google font css code
font-family: 'Cormorant Garamond', serif;
*/

/* universal styles */

html {
  font-size: 18px;
}

body {
  color: rgb(28, 17, 10);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  background-color: white;
  /*rgba(205, 207, 202, 0.1);*/
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

  h1 {
  font-weight: 700;
  }

span {
  color: rgb(247, 150, 70);
}

.akg {
  color: rgb(28, 17, 10);
  font-size: 0.8rem;
}

.about-main-content, .services-main-content, .people-main-content,
.projects-main-content, .contact-main-content   {
  position: relative;
  top: 5rem;

  /*margin-bottom: 5rem;*/
}

.about-header, .services-header, .people-header,
.projects-header, .contact-header  {
  height: 15rem;
  width: 100%;
  background-color: rgba(91, 108,93, 0.1);
}


.homepage-sup-content, .about-sup-content, .people-sup-content,
 .projects-sup-content, .contact-sup-content {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(247, 150, 70);
  width: 100%;
  height: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.sup-content {
  height: 5rem;
  width: 50%;
  margin-top: 1rem;
  
  /*border: 1px solid black;*/
}

.sup-content h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/*.sup-content a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  color: rgb(89, 201, 165);*/
  /*border: 1px solid black;*/
/*}

.sup-content a:hover {
  text-decoration: underline;
  color: rgb(28, 17, 10);
}*/

/*header styles */

header {
  /*background-color: rgba(95, 72, 66, 0.1);*/
  background-color: white;
  /*rgba(205, 207, 202, 0.1);*/
  height: 5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 2px inset rgba(95, 72, 66, 0.3);
  /*rgb(28, 17, 10);*/
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  border: 1px solid black;*/

}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1.5rem;
}

.logo a {
  text-decoration: none;
  color: rgb(28, 17, 10);
}

.nav-links {
  padding-top: 1.5rem;
}

.nav-links ul {
display: flex;
align-items: center;
}

.nav-links li {
display: inline-block;
align-items: center;
/*margin: .5rem;*/
/*padding: 0.5rem 0.75rem;
font-size: 1.2rem;*/
}

/*.nav-links li:last-child {
  border-radius: 4px;
  border: 2px inset rgba(95, 72, 66, 0.3);
  padding: 0.5rem 0.75rem;
}

li a {
align-items: center;
text-decoration: none;
font-weight: 500;
color: rgb(28, 17, 10);
}

li a:hover {
  text-decoration: underline;
  color: rgb(89, 201, 165);
}

li:last-child a:hover {
  text-decoration: none;

}*/


/*main-banner syles*/

.main-banner {
/*background-image: url("../images/communication.jpg");*/
background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*  background-color: rgba(91, 108,93, 0.7);*/
  position: relative;
  top: 5rem;
  height: 25rem;
  width: 100%;
  border-bottom: 2px inset rgba(95, 72, 66, 0.3);
}

.headline {
  border: 2px inset rgba(95, 72, 66, 0.3);
  border-radius: 4px;
  position: relative;
  top: 7rem;
  width: 21rem;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.headline h1 {
  font-size: 2rem;
  padding-bottom: .5rem;
  font-weight: 700;
  color: rgb(28, 17, 10);
}

.headline h2 {
  font-size: 1.1rem;
  padding-bottom: .5rem;
  font-weight: 400;
  text-align: center;
}

/*company statement styles*/

.company-state {
/*  border: 1px solid black;*/
  /*position: relative;
  top: 5rem;*/
  display: block;
  /*flex-wrap: wrap;*/
  height: auto;
  width: 100%;
}
.co-state {
/*  border: 1px solid black;*/
  position: relative;
  top: 5rem;
  height: auto;
  width: 100%;
}

.co-state p {
  padding-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
}

.homepage-sup-content {
  position: relative;
  top: 5rem;
}

.button-sup-content {
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: rgb(89, 201, 165);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(95, 72, 66, 0.3);
  text-align: center;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
.button-sup-content:hover,
.button-sup-content:active {
  /*background-color: rgb(28, 17, 10);
  border-color: rgb(28, 17, 10);
  color: #fff;*/
  background-color: rgb(89, 201, 165);
  border-color: rgb(89, 201, 165);
  color: #fff;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

.button-nav {
  display: block;
  width: 100px;
  padding: 8px;
  color: rgb(89, 201, 165);
  background-color: transparent;
  /*border-radius: 5px;
  border: 1px solid rgba(95, 72, 66, 0.3);*/
  text-align: center;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
.button-nav:hover,
.button-nav:active {
  /*background-color: rgb(28, 17, 10);
  border-color: rgb(28, 17, 10);
  color: #fff;*/
  background-color: rgb(89, 201, 165);
  border: 1px solid rgb(89, 201, 165);
  border-radius: 5px;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

/*footer styles*/

footer {
  /*position: relative;
  top: 5rem;*/
  height: 5rem;
  width: 100%;
  border-top: 2px inset rgba(95, 72, 66, 0.3);
  /*background-color: rgba(95, 72, 66, 0.1);*/
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
}

.copyright p {
/*  padding-top: 3.5rem;*/

}

.social-media {
  display: flex;
  align-items: center;
}

.social-media p {
  padding-right: .25rem;
}
.fa-facebook, .fa-linkedin, .fa-twitter-square  {
  color: rgb(28, 17, 10);
  padding: 0.25rem;
}
