/*google font css code
font-family: 'Roboto', sans-serif; 300| 400 | 500
font-family: 'Cormorant Garamond', serif; 500 | 700
*/

/* universal styles */

html {
  font-size: 18px;
}

body {
  color: rgb(28, 17, 10);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: white;
  /*rgba(205, 207, 202, 0.1);*/
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

  h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
  }

span {
  color: rgb(247, 150, 70);
}

.akg {
  color: rgb(28, 17, 10);
  font-size: 0.8rem;
}
/*header styles */

header {
  /*background-color: rgba(95, 72, 66, 0.1);*/
  background-color: white;
  /*rgba(205, 207, 202, 0.1);*/
  height: 5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 2px inset rgba(95, 72, 66, 0.3);
  /*rgb(28, 17, 10);*/
}

nav {
  display: flex;
  justify-content: space-between;
/*  border: 1px solid black;*/
  align-items: center;
}

/*.logo {
  display: flex;
  align-items: center;
/*  border: 1px solid black;
  justify-content: space-between;
}

/*.logo h1 {
  font-size: 1.25rem;
  font-weight: 700;
}*/

.nav-img {
  height: 5rem;
  width: 6rem;
  margin: 0;
  /*border-right: 2px solid rgba(95, 72, 66, 0.3);
  border-left: 2px solid rgba(95, 72, 66, 0.3);*/
}

.nav-links ul {
display: flex;
align-items: center;
}

.nav-links li {
display: inline-block;
align-items: center;
/*margin: .5rem;*/
padding: 0.5rem 0.75rem;
}

.nav-links li:last-child {
  border-radius: 4px;
  border: 2px inset rgba(95, 72, 66, 0.3);
  padding: 0.5rem 0.75rem;
}

li a {
align-items: center;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: rgb(28, 17, 10);
}

li a:hover {
  text-decoration: underline;
  color: rgb(89, 201, 165);
}
/*main-banner syles*/

.main-banner {
background-image: url("../images/communication.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*  background-color: rgba(91, 108,93, 0.7);*/
  position: relative;
  top: 5rem;
  height: 25rem;
  width: 100%;
  border-bottom: 2px inset rgba(95, 72, 66, 0.3);
}

.headline {
  border: 2px inset rgba(95, 72, 66, 0.3);
  border-radius: 4px;
  position: relative;
  top: 7rem;
  width: 21rem;
  padding: 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.headline h1 {
  font-size: 2rem;
  padding-bottom: .5rem;
  font-weight: 700;
  color: rgb(28, 17, 10);
}

.headline h2 {
  font-size: 1.1rem;
  padding-bottom: .5rem;
  font-weight: 300;
}

.headline button {
  border-radius: 4px;
  width: 5rem;
  border: 2px inset rgba(95, 72, 66, 0.3);
  background-color: rgba(95, 72, 66, 0.0);

}

 .headline a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(28, 17, 10);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

}
/*company statement styles*/
.co-state {
  /*border: 1px solid black;*/
  position: relative;
  top: 5rem;
  height: 15rem;
  width: 100%;
}

.co-state p {
  padding-top: 1.5rem;
  position: relative;
  top: 3rem;
}

/*footer styles*/

footer {
  position: relative;
  top: 5rem;
  height: 5rem;
  width: 100%;
  border-top: 2px inset rgba(95, 72, 66, 0.3);
  /*background-color: rgba(95, 72, 66, 0.1);*/
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.copyright p {
  padding-top: 3.5rem;
}

.fa-linkedin  {
  color: black;
  padding-top: 0.5rem;

}

/*About Styles*/


/*Services Styles*/
.services-main-content {
  position: relative;
  top: 5rem;
}

.services-header {
  height: 10rem;
  width: 100%;
  background-color: rgba(91, 108,93, 0.1);
}

.services-header h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  padding: 0.5rem;
}

.services-header h2 {
  padding-top: 5rem;
  padding-right: 0.5rem;
  float: right;
}
.core-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services {
  display: inline-block;
  height: 20rem;
  width: 40%;
  border-left: 1px solid rgb(247, 150, 70);
  margin: 2rem;
}

.services h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

ul.a {
  list-style-type: disc;


}

ul.a li {
  padding-bottom: 1rem;
  margin-left: 2rem;

}
/* old bootstrap sytles
.navbar-brand {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
.nav-item {
  font-family: 'Lato', sans-serif;
}
.display-4 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
.jumbotron button {
  font-family: 'Lato', sans-serif;
}

.sect-title {
  font-family: 'Libre Baskerville', serif;
}

.lead, .statement {
  font-family: 'Lato', serif;
}

footer p {
  font-family: 'Lato', sans-serif;
}*/
