/*google font css code
font-family: 'Cormorant Garamond', serif;
*/

/* universal styles */

html {
  font-size: 18px;
}

body {
  color: rgb(28, 17, 10);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  background-color: white;
  /*rgba(205, 207, 202, 0.1);*/
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

  h1 {
  font-weight: 700;
  }

span {
  color: rgb(247, 150, 70);
}

.akg {
  color: rgb(28, 17, 10);
  font-size: 0.8rem;
}

.homepage-main-content, .about-main-content, .services-main-content, .people-main-content,
.projects-main-content, .contact-main-content   {
  position: relative;
  top: 5rem;

  /*margin-bottom: 5rem;*/
}

.about-header, .services-header, .people-header,
.projects-header, .contact-header  {
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: rgba(91, 108,93, 0.1);
}


.homepage-sup-content, .about-sup-content, .people-sup-content,
 .projects-sup-content, .contact-sup-content {
  display: flex;
  justify-content: space-between;
  /*border-top: 1px solid rgb(247, 150, 70);*/
  width: 100%;
  height: 7rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.sup-content {
  height: 5rem;
  width: 50%;
  margin-top: 1rem;
}

.sup-content h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/*header styles */

header {
  background-color: white;
  height: 5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px inset rgba(95, 72, 66, 0.3);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1.5rem;
}

.logo a {
  text-decoration: none;
  color: rgb(28, 17, 10);
}

.nav-links {
  padding-top: 1.5rem;
}

.nav-links ul {
display: flex;
align-items: center;
}

.nav-links li {
display: inline-block;
align-items: center;
}

/*main-banner syles*/

.main-banner {
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 5rem;
  height: 25rem;
  width: 100%;
  border-bottom: 1px inset rgba(95, 72, 66, 0.3);
}

.headline {
  position: relative;
  top: 5rem;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.headline p {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.co-state p {
  padding-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
}

/*button styles*/

.button-sup-content {
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: rgb(89, 201, 165);
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(95, 72, 66, 0.3);
  text-align: center;
  outline: none;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
.button-sup-content:hover,
.button-sup-content:active {
  background-color: rgb(89, 201, 165);
  border-color: rgb(89, 201, 165);
  color: #fff;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

.button-nav {
  display: block;
  width: 100px;
  padding: 2px 8px;
  color: rgb(28, 17, 10);
  background-color: transparent;
  text-align: center;
  outline: none;
  font-weight: 300;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease-out, border-bottom 2s ease-out;
}

.button-nav:hover,
.button-nav:active {
  background-color: transparent;
  border-bottom: 1px solid rgb(89, 201, 165);
  text-align: center;
  font-weight: 700;
  width: 100px;
  color: rgb(89, 201, 165);
  transition: color 0.3s ease-in, border-bottom 2s ease-in;
}

/*footer styles*/

footer {
  height: 5rem;
  width: 100%;
  border-top: 1px inset rgba(95, 72, 66, 0.3);
  }

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media p {
  padding-right: .25rem;
}

.fa-facebook, .fa-linkedin, .fa-twitter-square  {
  color: rgb(28, 17, 10);
  padding: 0.25rem;
}
